[user]
	email = ferllarom@gmail.com
	name = Fernando Llaca
[credential]
	helper = store
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	tree = log --graph --oneline --all

    unstage = reset HEAD --
    last = log -1 HEAD
    out = log --branches --not --remotes=origin
    files = !sh -c \"git show --pretty=\"format:\" --name-only $1\"
    # lg = log --graph --oneline --decorate
    # lg = log --graph --all --pretty=format:'%C(yellow)%h%Creset -%C(bold green)%d %Creset%s%C(cyan) %ar %Cblue%an'
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    folder = rev-parse --show-toplevel
    update = merge --ff-only
    conflicts = diff --diff-filter=U

[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	ui = auto

[core]
	editor = vim
#[merge]
#	ff = false
