[Desktop Entry]
Type=Application
Exec=/usr/bin/xmodmap /home/jasoons/.Xmodmap
Hidden=false
X-GNOME-Autostart-enabled=true
Name=xmodmap
Comment=xmodmap script
